<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body><h1>Quantitative Aptitude Tutorial</h1><button><a href="/theory">GO back</a></button><br><br>
    <p1>An aptitude test represents a sytematic way to judge a candidate's mental capability as how he/she performs certain tasks and reacts to different scenarios. Each aptitude test uses a standard method of administration and scoring so that results can be computed and compared with the other candidates.

        This tutorial will teach you basic concepts of aptitude like numerical computation ability, analytical abilities. The tutorial is divided into sections such as Number System, Basic Arithmetic, Decimals and so on. Each of these sections contain related topics with simple and useful examples.</p1>
        <h2>What is an Aptitude Test?</h2>
        An aptitude test represents a systematic way to judge a candidate's mental capability as how he/she performs certain tasks and reacts to different scenarios. Each aptitude test uses a standard method of administration and scoring so that results can be computed and compared with the other candidates.
        <h2>How Are Aptitude Tests Conducted?</h2>
        In most of the cases, aptitude tests are conducted online either as a part of some competitive exam or as a part of job interview process. Aptitude tests are organized before any interview to take place to filter out the suitable candidates. Aim of aptitude test is primary to check if the candidate can face the challenges in his day-to-day activities of the job. Some companies takes test in form of paper also.
<h2>Test Structure</h2>
Aptitude tests are time bound tests and in most of the case, are of multiple choice question type. Many times, the options provided are misleading, so you should be very attentive while giving the aptitude test. Some aptitude test has increasing degree of difficulty as paper progresses. Such tests are not designed to be completed and marking gradually increases per question.
<h2>Scores and Marking</h2>
Passing scores are near to an average score. This average is computed based on the fact that no one can be excellent in all types of aptitude questions. A math graduate could score more in Numerical Ability but may score less in Stock Markets. Passing scores is computed considering a average scoring in all the relative sections of an aptitude test. Marking is considered section wise and a weighted average is considered a passing score.
<h2>Negative marking</h2>
Some aptitude test carries negative marking which means every wrong answer claims some marks from the total score. If negative marking is present, please do not try to guess any answer as in most of the case, chance of passing gets reduced drastically.
<h2>Aptitude Tests: Preparation and Practice</h2>
Practice makes us perfect. Same applies to aptitude tests. The more you do the practice, the more improvement you can attain in solving the aptitude test questions. We've provided hundreds of questions in this tutorials. Learn the concepts and practice the questions. All the best!<br>
<a href="https://www.geeksforgeeks.org/speed-time-distance-formula-and-aptitude-questions/"> CLick here for Full Tutorial</a><p align="right"><button ><a href="/theory">GO back</a></button></p><br>




    
</body>
</html>