{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>

 
    <h1>Introduction to HTML </h1><button><a href="/theory">GO back</a></button><br>
    <p1>  

HTML stands for Hypertext Markup Language and it is a widely used programming language used to develop web pages.<br> Through this HTML Tutorial, we’ll understand what HTML means, the features of HTML, the basic tags and elements used, and more. Let’s get starte What is HTML?<br>


<br>HTML Stands for HyperText Markup Language, where:<o1 type="1">
    <li>HyperText stands for Link between web pages.</li>
    <li>Markup Language means Text between tags that define the structure.</li><br></o1>
   HTML is a markup language that is used to create web pages. It defines how the web page looks and how to display content with the help of elements. It forms or defines the structure of our Web Page, thus it forms or defines the structure of our Web Page.We must remember to save your file with .html extension. In this HTML Tutorial, we’ll understand all the basic concepts required to kick-start your journey in HTML.<br>

<h2>Applications of HTML:</h2><br>
HTML is used for various purposes. Let us take a look at them<br>
 <h3>1.Web Pages Development</h3>
HTML is famously used for creating web pages on the world wide web. Every web page contains a set of HTML tags and hyperlinks which are used to connect other pages. Every page on the internet is written using HTML.
<h3>2.Navigating the Internet</h3>
Navigating on the internet would have been quite a tedious task without HTML. The anchor tags of HTML allows us to link pages and navigate easily. Imagine our life without anchor tags, you would literally have to enter URL everytime. Using achor tags, you can also navigate within a webpage.
<h3>3.Embedding Images and Videos</h3>
HTML allows us to embed images and videos with ease and gives us features to adjust height, position and even rendering type. You can adjust controls, thumbnails, timestamps and much more for videos. Earlier this was done using Flash and HTML has made it easier with the help of vedio tag. 
<h3>4.Clinet-side storage</h3>
HTML5 has made client-side storage possible using localStorage and IndexD due to which we no longer need to reply on Cookies. Both of these tactics have their own set of rules and characteristics. String-based hash-table storage is provided by localStorage. Its API is straightforward, with setItem, getItem, and removeItem functions available to developers. On the other hand, IndexDB is a larger and more capable client-side data store. With the user’s permission, the IndexDB database can be enlarged.
<h3>5.Game development</h3>
Although you cannot create complex high-end video games with HTML, the canvas element of HTML can be used to make 2D and 3D games using CSS and JavaScript which can be run on browsers.
<h3>6.Data entry suppor</h3>
With the usage of new HTML5 standards in all the latest browsers, developers can simply add the tags for required fields, text, data format, etc. and get the data. HTML5 now has several new attributes for data-entry and validation purposes.<br>
</p1>
    <br><p2>
        <h3>Features Of HTML</h3><ol type="1">
    <li>The learning curve is very easy (easy to modify)</li>
    <li>Creating effective presentations</li>
    <li>Adding Links wherein we can add references</li>
    <li>Can display documents on platforms like Mac, Windows, Linux, etc</li>
    <li>Adding videos, graphics, and audios making it more attractive</li>
    <li>Case insensitive language</li></ol>
    </p2>
    <h3>HTML Editor</h3><ol type="1">
        <li>Simple editor: Notepad</li>
        <li>Notepad++</li>
        <li>Atom</li>
        <li>Best Editor-sublime</li>
    </ol>
    <h3>HTML TAGS</h3><ol type="1">
        <li>Enclosed within </li>
        <li>Different tags render different meanings.</li>
       
        
    </ol>

    <h1>Introduction to CSS | CSS Tutorial for Beginners</h1>
    <h2>What is CSS?</h2>
    <p1>  

        CSS stands for Cascading Style Sheets. It is the language for describing the presentation of Web pages, including colours, layout, and fonts, thus making our web pages presentable to the users.

        <br>CSS is designed to make style sheets for the web. It is independent of HTML and can be used with any XML-based markup language. Now let’s try to break the acronym:
        <o1 type="1">
            <li>Cascading: Falling of Styles</li>
            <li>Style: Adding designs/Styling our HTML tags</li>
        <li>Sheets: Writing our style in different documents</li></o1>
        <li>1996: CSS was published on 17th November with influencer Bert Bos</li>
        <li>Later he became co-author of CSS</li>
        <li>1998: Published on 12th May</li>
        </p1>
            <br><p2>
                <h3>CSS Syntax</h3><ol type="1">
            Selector {
                Property 1 : value;
                          Property 2 : value;
                         Property 3 : value;
                  }
       For example:
              h1
                 {
                     Color: red;
                      Text-align: center;
     
                 }
               #unique 
                {
                      color: green;
                }
            <li>Selector: selects the element you want to target</li>
            <li>Always remains the same whether we apply internal or external styling </li>
            <li>There are few basic selectors like tags, id’s, and classes</li>
            <li>All forms this key-value pair</li>
            <li>Keys: properties(attributes) like color, font-size, background, width, height,etc</li></ol>
            </p2>
            <h3>CSS How-To </h3><ol type="1">
                <li>There are 3 ways to write CSS in our HTML file</li>
                <li>Inline CSS</li>
                <li>Internal CSS</li>
                <li>External CSS</li>
            </ol>
            <h3>Inline CSS</h3><ol type="1">
                <li>Before CSS this was the only way to apply styles </li>
                <li>Not an efficient way to write as it has a lot of redundancy</li>
                <li>Self-contained </li>
                <li>Uniquely applied on each element</li>
                <li>The idea of separation of concerns was lost</li></ol>

            <h3>Internal CSS</h3>
               <ol type="1" ><li>With the help of style tag, we can apply styles within the HTML file</li>
                <li>Redundancy is removed</li>
                <li>But the idea of separation of concerns still lost</li>
                <li>Uniquely applied on a single document</li></ol>
              
            <h3>External CSS</h3>
               <ol type="1">
                <li>With the help of link tag in the head tag, we can apply styles</li>
                <li>Reference is added </li>
                <li>File saved with .css extension</li>
                <li>Redundancy is removed</li>
                <li>The idea of separation of concerns is maintained</li>
                <li>Uniquely applied to each document</li></ol>
                <a href="https://www.geeksforgeeks.org/html/"> CLick here for HTML Full Tutorial</a><br>
                <a href="https://www.w3schools.com/css/"> CLick here for CSS Full Tutorial</a><p align="right"><button ><a href="/theory">GO back</a></button></p><br>

            
</body>
</html>